footer {
    background-color: $gray-dark;
    padding: 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .footer__logo {
        }

        .footer__menu,
        .footer__social {
            display: flex;
            align-items: center;

            li {
                margin: 0 10px;
            }
        }

        .footer__menu {
            display: none;

            @include responsive(tablet) {
                display: flex;
            }
        }

        .footer__social {
            li {
                font-size: 25px;
            }
        }
    }
}
