@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// Default Styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;

    &:focus {
        outline: none;
    }
}

body {
    position: relative;
    background-color: #fafafa;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

// Container
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.btn {
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
    border: none;

    &--dark {
        background-color: $gray-dark;
        font-size: 14px;
    }

    &--primary {
        background-color: $blue;
        font-size: 18px;
    }
}
