$mobile-small: 1024px;
$mobile-large: 720px;
$tablet: 320px;
$pc-small: 1024px;
$pc: 720px;
$pc-large: 320px;

@mixin responsive($media) {
  @if $media==mobile-small {
    @media only screen and (min-width: $mobile-small) {
      @content;
    }
  } @else if $media==mobile-large {
    @media only screen and (min-width: $mobile-large) {
      @content;
    }
  } @else if $media==tablet {
    @media only screen and (min-width: $tablet) {
      @content;
    }
  } @else if $media==pc-small {
    @media only screen and (min-width: $pc-small) {
      @content;
    }
  } @else if $media==pc {
    @media only screen and (min-width: $pc) {
      @content;
    }
  } @else if $media==pc-large {
    @media only screen and (min-width: $pc-large) {
      @content;
    }
  }
}
