.drawer__backgound {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $gray-dark-light;
    visibility: hidden;
    opacity: 0;
    transition: visibility.3s, opacity 0.3s;
    z-index: 4;

    &--open {
        visibility: visible;
        opacity: 1;
    }

    &--close {
        visibility: hidden;
        opacity: 0;
    }

    @include responsive(pc-small) {
        display: none;
    }
}

.drawer {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    background-color: $gray-dark;
    width: 320px;
    padding: 20px;
    transform: translateX(100%);
    z-index: 5;

    &--open {
        transform: translateX(0);
        transition: transform 0.4s;
    }

    &--close {
        transform: translateX(100%);
        transition: transform 0.4s;
    }

    @include responsive(pc-small) {
        display: none;
    }

    .drawer__menu {
        li {
            display: flex;
            padding: 20px;

            &.drawer__menu__button {
                justify-content: flex-end;
                padding: 0;

                button {
                    color: white;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    padding: 10px;
                }
            }
        }
    }
}
