.header__dropdown__button {
    display: flex;
    background-color: #242424;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;

    @include responsive(pc-small) {
        display: none;
    }
}
